body {
  justify-content: center;
  font-family: Arial;
  font-size: 25px;
}

p {
  margin: 10px 0px;
}

div {
  margin-bottom: 8px;
}

select {
  font-size: 18px;
  padding: 3px 3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

input {
  max-width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
}

input:focus {
  outline: none;
}

.form {
  background-color: #faf3dd;
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-color: #495159;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.formRight {
  max-width: 350px;
  position: relative;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.notesInput {
  min-width: 250px;
  min-height: 50px;
  text-align: center;
  font-size: 15px;
  border: none;
  margin-right: 0px;
  border-radius: 0px;
  padding: 1px 1px;
}

.sendButton {
  height: 52px;
  width: 50px;
  font-size: 15px;
  border: none;
  margin-left: -6px;
  cursor: pointer;
  background-color: white;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.devicePanel,
.ckt,
.s,
.qty,
.boxType,
.exits,
.connecterType,
.supportType,
.plasterRing,
.conduitCableType,
.left,
.right,
.center,
.bottom,
.deviceLeft,
.deviceRight,
.deviceCenter {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.notesInput {
  min-height: 50px;
  text-align: center;
  font-size: 15px;
  border: none;
  padding-right: 5px;
  margin-right: -1px;
}



.title {
  font-weight: bold;
}

.addToOrder {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.resetButton {
  position: absolute;
  bottom: 0px;
  right: 130px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.addToOrder:hover,
.resetButton:hover,
.sendButton:hover {
  filter: brightness(.9);
}

.addToOrder:active,
.resetButton:active,
.sendButton:active {
  filter: brightness(1);
}

.leftBar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 20px;
}

.viewCart,
.clearCartButton {
  background-color: white;
  border-radius: 20px;
  border-width: 1px;
  width: 100px;
  padding: 15px 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.viewCart:hover,
.clearCartButton:hover {
  background-color: rgb(4, 86, 168);
}

.viewCart:active,
.clearCartButton:active {
  background-color: rgb(2, 57, 111);
}

.viewOrders {
  margin-top: 10px;
  color: #495159;
}

.homeButton {
  position: fixed;
  left: 10px;
  top: 10px;
}

.noteSection {
  display: block;
}