body {
  justify-content: center;
  font-family: Arial;
  font-size: 25px;
}

p {
  margin: 10px 0px;
}

div {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

select {
  font-size: 18px;
  padding: 3px 3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

input {
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
}

input:focus {
  outline: none;
}

.form {
  background-color: #faf3dd;
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-color: #495159;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.formRight {
  max-width: 400px;
  position: relative;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.devicePanel,
.ckt,
.s,
.qty,
.boxType,
.exits,
.connecterType,
.supportType,
.plasterRing,
.conduitCableType,
.left,
.right,
.center,
.bottom,
.deviceLeft,
.deviceRight,
.deviceCenter {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.title {
  font-weight: bold;
}

.addToOrder {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.resetButton {
  position: absolute;
  bottom: 0px;
  right: 110px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.addToOrder:hover,
.resetButton:hover,
.addNoteButton:hover {
  filter: brightness(.9);
}

.addToOrder:active,
.resetButton:active,
.addNoteButton:active {
  filter: brightness(1);
}

.rightBar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 20px;
}

.viewCart,
.clearCartButton {
  background-color: white;
  border-radius: 20px;
  border-width: 1px;
  width: 100px;
  padding: 15px 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.viewCart:hover,
.clearCartButton:hover {
  background-color: rgb(4, 86, 168);
}

.viewCart:active,
.clearCartButton:active {
  background-color: rgb(2, 57, 111);
}

.viewOrders {
  margin-top: 10px;
  color: #495159;
}

.homeButton {
  position: fixed;
  left: 10px;
  top: 10px;
}

.userNotes {
  display: block;
  margin-top: 60px;
}

.addNoteButton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.notesInputBox {
  font-size: 18px;
  padding: 3px 3px;
}

.notesInputBox::placeholder {
  padding-left: 5px;
}

.noteOrderNum {
  width: 25px;
  font-size: 18px;
  text-align: center;
}

.noteOrderNum::placeholder {
  text-align: center;
  opacity: 0.5;
}

.notesCheckbox {
  width: auto;
}

.roomName {
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.roomNameInput {
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
  width: 300px;
  height: 50px;
}

.notes1Color {
  background-color: red;
}

.notes2Color {
  background-color: blue;
  color: white;
}

.notes3Color {
  background-color: yellow;
}

.notes4Color {
  background-color: pink;
}

.notes5Color {
  background-color: olive;
  color: white;
}

.notes6Color {
  background-color: purple;
  color: white;
}

.notes7Color {
  background-color: brown;
}

.notes8Color {
  background-color: black;
  color: white;
}

.notes9Color {
  background-color: silver;
}

.notes10Color {
  background-color: orange;
}