body {
  background-color: rgb(246, 246, 246);
}

p {
  font-family: Arial;
  font-size: 25px;
  color: black;
}

img {
  height: 200px;
  width: 300px;
  object-fit: contain;
  background-color: white;
  border-radius: 20px;
  padding: 20px 20px;
}

button {
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 3px black;
  background-color: white;
  font-size: 25px;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

button:hover {
  box-shadow: 0px 0px 10px black;
}

input {
  font-size: 20px;
}

input:focus {
  outline: none;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: rgb(69, 69, 69);
  color: white;
}

.changeTheme {
  padding: 10px 13px;
  border-radius: 50%;
}

.homeGrid {
  justify-content: center;
  width: 99%;
  display: flex;
  position: absolute;
}

.bottomHomeGrid {
  display: flex;
  column-gap: 100px;
  row-gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.pullPortfolioInput {
  width: 500px;
  margin-right: -30px;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 0px 5px grey;
}

.sendButton {
  border: none;
  margin: 0px 0px;
  margin-left: -20px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
}

.sendButton:hover {
  box-shadow: none;
}

.quickbaseDiv,
.pullBuildDiv,
.viewBuildDiv {
  display: flexbox;
  text-align: center;
  padding: 50px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(49, 49, 49);
  background-color: white;
}

.pullBuildDiv {
  margin-top: 100px;
}

.americanFlag {
  opacity: 0;
  width: 50px;
  height: fit-content;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: transparent;
  transition: 5s;
}

.americanFlag:hover {
  opacity: .5;
}