.gridHeader {
  display: inline-block;
  margin-left: 10px;
}

table,
th {
  padding: 10px 10px;
}

table {
  text-align: center;
  border-collapse: collapse;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-color: #495159;
}

td,
th {
  border: none;
  border-bottom: 1px solid #495159;
}

tr:nth-child(even) {
  background-color: #94b0da;
}

tr:hover {
  background-color: #faf3dd;
}

.notesButton,
.editButton {
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}

.editButton {
  transition: border-color 0.5s, color 0.5s;
}

.editButton:hover {
  border-color: #faf3dd;
  color: #94b0da;
}

.editOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: scroll;
}

p {
  margin: 10px 0px;
}


select {
  font-size: 18px;
  padding: 3px 3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

input {
  max-width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
}

input:focus {
  outline: none;
}

.form {
  background-color: #faf3dd;
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-color: #94b0da;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  font-family: arial;
  font-size: 25px;
}

.formRight {
  max-width: 350px;
  position: relative;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.notesInput {
  min-width: 250px;
  min-height: 50px;
  text-align: center;
  font-size: 15px;
  border: none;
  margin-right: 0px;
  border-radius: 0px;
  padding: 1px 1px;
}

.sendButton {
  height: 52px;
  width: 50px;
  font-size: 15px;
  border: none;
  margin-left: -6px;
  cursor: pointer;
  background-color: white;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.devicePanel,
.ckt,
.s,
.qty,
.boxType,
.exits,
.connecterType,
.supportType,
.plasterRing,
.conduitCableType,
.left,
.right,
.center,
.bottom,
.deviceLeft,
.deviceRight,
.deviceCenter {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.notesInput {
  min-height: 50px;
  text-align: center;
  font-size: 15px;
  border: none;
  padding-right: 5px;
  margin-right: -1px;
}



.title {
  font-weight: bold;
}

.doneButton {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.resetButton {
  position: absolute;
  bottom: 0px;
  right: 130px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.notesOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.notesDisplayOverLay {
  font-family: arial;
  font-size: 25px;
  background-color: #faf3dd;
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-color: #94b0da;
  border-radius: 15px;
}

.exitNotes {
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  border-color: black;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.headerNotes {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.titleDisplay {
  margin-left: 85px;
}

.portDis,
.roomDis,
.noteDis {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  column-gap: 10px;
  align-items: center;
}

.notesArrayReferance {
  display: flex;
  column-gap: 30px;
}

h1,
h2 {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.notes1Color {
  background-color: red;
}

.notes2Color {
  background-color: blue;
  color: white;
}

.notes3Color {
  background-color: yellow;
}

.notes4Color {
  background-color: pink;
}

.notes5Color {
  background-color: olive;
  color: white;
}

.notes6Color {
  background-color: purple;
  color: white;
}

.notes7Color {
  background-color: brown;
}

.notes8Color {
  background-color: black;
  color: white;
}

.notes9Color {
  background-color: silver;
}

.notes10Color {
  background-color: orange;
}