p {
  font-family: arial;
}

table,
th {
  padding: 10px 10px;
}

table {
  text-align: center;
  border-collapse: collapse;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-color: #495159;
}

td,
th {
  border: none;
  border-bottom: 1px solid #495159;
}

tr:nth-child(even) {
  background-color: #94b0da;
}

tr:hover {
  background-color: #faf3dd;
}

.header {
  display: flex;
  column-gap: 20px;
}

.backButton {
  padding: 20px 30px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  cursor: pointer;
}

.backButton:hover {
  filter: brightness(.9);
}

.notesButton,
.editButton {
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}

.editButton {
  transition: border-color 0.5s, color 0.5s;
}

.editButton:hover {
  border-color: #faf3dd;
  color: #94b0da;
}

.editOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: scroll;
}

p {
  margin: 10px 0px;
}


select {
  font-size: 18px;
  padding: 3px 3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

input {
  max-width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
}

input:focus {
  outline: none;
}

.form {
  background-color: #faf3dd;
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  border-color: #94b0da;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  font-family: arial;
  font-size: 25px;
}

.formRight {
  max-width: 350px;
  position: relative;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.designation,
.botBoxConfig,
.conduitLengths,
.nemaDeviceConfig {
  margin-left: 20px;
}

.devicePanel,
.ckt,
.s,
.qty,
.boxType,
.exits,
.connecterType,
.supportType,
.plasterRing,
.conduitCableType,
.left,
.right,
.center,
.bottom,
.deviceLeft,
.deviceRight,
.deviceCenter {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.title {
  font-weight: bold;
}

.notesInputBox {
  font-size: 18px;
  padding: 3px 3px;
}

.notesInputBox::placeholder {
  padding-left: 5px;
}

.doneButton {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.resetButton {
  position: absolute;
  bottom: 0px;
  right: 130px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  background-color: white;
  padding: 15px 3px;
  cursor: pointer;
}

.headerNotes {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.titleDisplay {
  text-align: center;
}

.portDis,
.roomDis,
.noteDis {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  column-gap: 10px;
  align-items: center;
}

.notesArrayReferance {
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap;
  row-gap: 15px;
  max-width: 1500px;
}

h1,
h2 {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 15px;
  border-radius: 30px;
}

.notes1Color,
.hNote1 {
  background-color: rgb(205, 0, 0);
  color: white;
}

.notes2Color,
.hNote2 {
  background-color: rgb(0, 140, 255);
  color: white;
}

.notes3Color,
.hNote3 {
  background-color: rgb(246, 255, 0);
}

.notes4Color,
.hNote4 {
  background-color: pink;
}

.notes5Color,
.hNote5 {
  background-color: rgb(73, 125, 0);
  color: white;
}

.notes6Color,
.hNote6 {
  background-color: rgb(105, 0, 128);
  color: white;
}

.notes7Color,
.hNote7 {
  background-color: rgb(103, 61, 4);
  color: white;
}

.notes8Color,
.hNote8 {
  background-color: black;
  color: white;
}

.notes9Color,
.hNote9 {
  background-color: silver;
}

.notes10Color,
.hNote10 {
  background-color: orange;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.noteSection {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}